<nav class="sidebar">
  <ul>
    <li><a href="index/">Home</a></li>
    <li><a href="/content/introduction/">Introduction</a></li>
    <li><a href="/content/getting-started/">Getting Started</a></li>
    <li><a href="/content/my-post/">My Post</a></li>
  </ul>
</nav>
<style>
  .sidebar {
    padding: 1em;
    border-right: 1px solid #ccc;
    max-width: 200px;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  .sidebar li {
    margin: 0.5em 0;
  }
  .sidebar a {
    text-decoration: none;
    color: #007bff;
  }
</style>
